{% extends 'base.html' %}


{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 cold-md-6" id="header-text">
            <h2>Let's create you own personalized car collection!</h2>
            <h5>Create an amaing API tool for car collecting developers.</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/istockphoto-1152002215-612x612.jpg" alt="Hero Header Image">
        </div>
    </header>

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/api.png" alt="api image">
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have that for you!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/graphql.png" alt="graphql image">
            <h4>GraphQL API Routes</h4>
            <p>
                If you want all the data from one endpoint, we have that too!
            </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/db.png" alt="database image">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>
                All data will be persisted inside of a secure Postgres Database.
            </p>
        </div>
    </section>

    <section class="row">
        <div class="col-12 cold-md-6">
            <img src="../../static/images/1000_F_292087341_ykDBWnZxvWygU4qgX4lV7FMIHJaPqmRf.jpg" alt="Car Image" id="Car-image">
        </div>
        <div class="col-12 cold-md-6">
            <h4>Talk with like minded car collectors</h4>
            <p>
                Talk with other devs around the world and collab
                on projects with your data. Join our slack channel and give
                a star to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary">View On Github</button>
                <button class="btn btn-primary">Join Our Slack Channel</button>
            </div>
        </div>
    </section>

    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images//9479.png" alt="Coding Car Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars Matter?</p>
                <p>The Car Collection Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars Matter?</p>
                <p>The Car Collection Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars Matter?</p>
                <p>The Car Collection Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars Matter?</p>
                <p>The Car Collection Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Cars Matter?</p>
                <p>The Car Collection Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>

</div>

{% endblock content %}